:root {
  --border-radius: 4px;
}

html,
body {
  /* font-family: "SFProText", sans-serif !important; */
  /* font-family: "SFRounded", sans-serif !important; */
  font-family: "SFProDisplay", sans-serif !important;
}

.noteCard {
  margin: 0.5rem 1rem;
}

/* Element Styles */

.bg-glass {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.classic-btn {
  border-radius: var(--border-radius);
  padding: 4px 12px;
  min-width: 88px;
  border: none;
  font: inherit;
  color: #373030;
  outline: none;
  text-decoration: none;
  cursor: default;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.4);
  transition: background-color 0.15s ease, color 0.2s ease;
}

.classic-btn:hover {
  cursor: pointer;
  /* background: linear-gradient(#4faefc, #006bff); */
  background-color: #4faefc;
  color: #fff;
}

.custom-form-inp {
  border-radius: var(--border-radius);
  padding: 4px 12px;
  border: none;
  font: inherit;
  color: #373030;
  outline: none;
  text-decoration: none;
  background: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Navbar ✨ */

nav {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-title {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.nav-list-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.75rem;
  justify-content: space-around;
  list-style: none;
  /* To remove bootstrap reset css */
  margin: unset;
  padding: unset;
}

.nav-list > li {
  display: inline-block;
}

/* Media queries for 'responsiveness' */

@media screen and (max-width: 615px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-template-columns: 1fr;
  }
  .nav-list-wrapper {
    flex-grow: 1;
    margin: 0.75rem 0;
    width: 100%;
  }
  .nav-list {
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
  }
  .nav-list > li {
    display: unset;
  }
}
